extends layout

block content

    div(ng-app="BlackJack" )

        .logo
            h2=title
        form.user.form-inline(ng-controller="NameController as controller" ng-submit="controller.changeName()")
            .form-group
                input.name.form-control(type='text' class='name' name='name' ng-model='controller.name', ng-init='controller.name="' + playerData.name + '"')
            input(class='btn btn-primary' type='submit'  value='Change name')

        div(ng-controller="Game as game" ng-init="playerData=" + JSON.stringify(playerData))
            div(ng-controller="Dealer as dealer")
                h2 Dealer
                .hand
                    span(ng-repeat="card in dealer.model.hand.cards")
                        .card(class="card-{{card.value}} card-{{card.kind}}")
                            span
                div Hand value: {{dealer.model.hand.getValue()}}


            div(ng-controller="Player as player")
                h2 {{player.data.name}}

                .hand
                    span(ng-if="player.get()")
                        span(ng-repeat="card in player.get().hand.cards")
                            .card(class="card-{{card.value}} card-{{card.kind}}")
                                span
                        span.result(ng-if='player.get().result')
                            h3 {{player.get().result}}
                        div Hand value: {{player.get().hand.getValue()}}
                        div Bet: {{player.get().bet}}

                div Balance: {{player.data.balance}}
                span(ng-if="player.get() && !player.get().done")
                    form.form-inline
                        .btn.btn-primary(ng-click="player.hit()") Hit
                        .btn.btn-success(ng-click="player.stop()") Stop
                span(ng-if="!player.get()")
                    form.form-inline
                        .form-group
                            input.form-control(type='number' min='1' max='{{player.data.balance}}' class='amount' name='amount' ng-model='player.bet')
                        .btn.btn-primary(ng-click="player.makeABet()") Bet

                .oponents
                    h2 Opponents:
                    span(ng-repeat="opponent in player.opponents()")
                        h3 {{opponent.data.name}}
                        span(ng-repeat="card in opponent.hand.cards")
                            .card(class="card-{{card.value}} card-{{card.kind}}")
                                span

    script(src="/bower_components/angular/angular.js")
    script(src="/js/Game.js")
    script(src="/js/NameChange.js")
    script(src="/js/GameModels.js")

