doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/style/bootstrap.min.css')
        link(rel='stylesheet', href='/style/app.css')
        link(rel='stylesheet', href='/style/cards.css')
    body
        div.container
            block content