body {
    background-color: #eee;
}

.logo {
    display: inline-block;
    margin-right: 50px;
}

.user {
    display: inline-block;
}

.hand {
    min-height: 110px;
}

.result h3 {
    display: inline-block;
}
